In [7]:
import numpy as np
import pandas as pd

In [3]:
countries = pd.read_csv("countries.csv", sep = ";")
countries

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
0,String,double,double,double,double,double,double,double,double,double,...,double,double,double,double,double,double,double,double,double,double
1,Afghanistan,647500,47.02,NaN,20.75,8000000000,652200000,540000000,446000000,21500000000,...,0,0,29928987,NaN,NaN,NaN,33100,15000,6.75,NaN
2,Akrotiri,123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,28748,15.08,-504000000,5.12,1410000000,6760000000,5680000000,552400000,17460000000,...,2000,185500000,3563112,NaN,447,1206000000,255000,1100000,2.04,14.80
4,Algeria,2381740,17.13,11900000000,4.60,21900000000,23610000000,25760000000,32160000000,212300000000,...,1200000,11870000000,32531853,37.40,3973,43550000000,2199600,1447310,1.92,25.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,West Bank,5860,32.37,NaN,3.99,108000000,NaN,NaN,205000000,1800000000,...,NaN,NaN,2385615,NaN,NaN,NaN,301600,480000,4.40,27.20
260,Western Sahara,266000,NaN,NaN,NaN,NaN,83700000,90000000,NaN,NaN,...,0,NaN,273008,NaN,NaN,NaN,NaN,0,NaN,NaN
261,Yemen,527970,43.07,369900000,8.53,5400000000,2827000000,3040000000,4468000000,16250000000,...,417500,4000000000,20727063,46.40,NaN,5300000000,542200,411100,6.67,35.00
262,Zambia,752614,41.38,-181400000,20.23,5353000000,5345000000,8167000000,1548000000,9409000000,...,0,NaN,11261795,127.50,2173,345000000,88400,241000,5.47,50.00
263,Zimbabwe,390580,29.74,-230300000,24.66,4086000000,11220000000,8839000000,1409000000,24370000000,...,0,NaN,12746990,52.30,3077,57000000,300900,379100,3.54,70.00

In [4]:
countries.columns

Index(['Country', 'Area(sq km)', 'Birth rate(births/1000 population)',
       'Current account balance', 'Death rate(deaths/1000 population)',
       'Debt - external', 'Electricity - consumption(kWh)',
       'Electricity - production(kWh)', 'Exports', 'GDP', 'GDP - per capita',
       'GDP - real growth rate(%)', 'HIV/AIDS - adult prevalence rate(%)',
       'HIV/AIDS - deaths', 'HIV/AIDS - people living with HIV/AIDS',
       'Highways(km)', 'Imports', 'Industrial production growth rate(%)',
       'Infant mortality rate(deaths/1000 live births)',
       'Inflation rate (consumer prices)(%)', 'Internet hosts',
       'Internet users', 'Investment (gross fixed)(% of GDP)', 'Labor force',
       'Life expectancy at birth(years)',
       'Military expenditures - dollar figure',
       'Military expenditures - percent of GDP(%)',
       'Natural gas - consumption(cu m)', 'Natural gas - exports(cu m)',
       'Natural gas - imports(cu m)', 'Natural gas - production(cu m)',
       'Natural gas - proved reserves(cu m)', 'Oil - consumption(bbl/day)',
       'Oil - exports(bbl/day)', 'Oil - imports(bbl/day)',
       'Oil - production(bbl/day)', 'Oil - proved reserves(bbl)', 'Population',
       'Public debt(% of GDP)', 'Railways(km)',
       'Reserves of foreign exchange & gold', 'Telephones - main lines in use',
       'Telephones - mobile cellular',
       'Total fertility rate(children born/woman)', 'Unemployment rate(%)'],
      dtype='object')

In [18]:
compare_gdp = countries[["Country", "GDP - per capita", "Birth rate(births/1000 population)", "Death rate(deaths/1000 population)", 
                        "Electricity - consumption(kWh)", "Highways(km)", "Infant mortality rate(deaths/1000 live births)",
                        "Internet users", "Life expectancy at birth(years)", "Military expenditures - percent of GDP(%)",
                        "Telephones - mobile cellular", "Total fertility rate(children born/woman)"]]

compare_gdp

,Country,GDP - per capita,Birth rate(births/1000 population),Death rate(deaths/1000 population),Electricity - consumption(kWh),Highways(km),Infant mortality rate(deaths/1000 live births),Internet users,Life expectancy at birth(years),Military expenditures - percent of GDP(%),Telephones - mobile cellular,Total fertility rate(children born/woman)
0,String,double,double,double,double,double,double,double,double,double,double,double
1,Afghanistan,800,47.02,20.75,652200000,21000,163.07,1000,42.90,2.60,15000,6.75
2,Akrotiri,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,4900,15.08,5.12,6760000000,18000,21.52,30000,77.24,1.49,1100000,2.04
4,Algeria,6600,17.13,4.60,23610000000,104000,31.00,500000,73.00,3.20,1447310,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...
259,West Bank,800,32.37,3.99,NaN,4500,19.62,145000,73.08,NaN,480000,4.40
260,Western Sahara,NaN,NaN,NaN,83700000,6200,NaN,NaN,NaN,NaN,0,NaN
261,Yemen,800,43.07,8.53,2827000000,67000,61.50,100000,61.75,7.80,411100,6.67
262,Zambia,900,41.38,20.23,5345000000,91440,88.29,68200,39.70,1.80,241000,5.47
263,Zimbabwe,1900,29.74,24.66,11220000000,18338,67.69,500000,36.67,4.30,379100,3.54

In [19]:
no_na = compare_gdp.dropna()
no_na

,Country,GDP - per capita,Birth rate(births/1000 population),Death rate(deaths/1000 population),Electricity - consumption(kWh),Highways(km),Infant mortality rate(deaths/1000 live births),Internet users,Life expectancy at birth(years),Military expenditures - percent of GDP(%),Telephones - mobile cellular,Total fertility rate(children born/woman)
0,String,double,double,double,double,double,double,double,double,double,double,double
1,Afghanistan,800,47.02,20.75,652200000,21000,163.07,1000,42.90,2.60,15000,6.75
3,Albania,4900,15.08,5.12,6760000000,18000,21.52,30000,77.24,1.49,1100000,2.04
4,Algeria,6600,17.13,4.60,23610000000,104000,31.00,500000,73.00,3.20,1447310,1.92
7,Angola,2100,44.64,25.90,1587000000,51429,191.19,41000,36.61,10.60,130000,6.27
...,...,...,...,...,...,...,...,...,...,...,...,...
254,Venezuela,5800,18.91,4.90,89300000000,96155,22.20,1274400,74.31,1.50,6463600,2.26
255,Vietnam,2700,17.07,6.20,32060000000,93300,25.95,3500000,70.61,2.50,2742000,1.94
261,Yemen,800,43.07,8.53,2827000000,67000,61.50,100000,61.75,7.80,411100,6.67
262,Zambia,900,41.38,20.23,5345000000,91440,88.29,68200,39.70,1.80,241000,5.47
263,Zimbabwe,1900,29.74,24.66,11220000000,18338,67.69,500000,36.67,4.30,379100,3.54

In [21]:
compare_gdp_clean = no_na.drop(0, axis = 0)
compare_gdp_clean

,Country,GDP - per capita,Birth rate(births/1000 population),Death rate(deaths/1000 population),Electricity - consumption(kWh),Highways(km),Infant mortality rate(deaths/1000 live births),Internet users,Life expectancy at birth(years),Military expenditures - percent of GDP(%),Telephones - mobile cellular,Total fertility rate(children born/woman)
1,Afghanistan,800,47.02,20.75,652200000,21000,163.07,1000,42.90,2.60,15000,6.75
3,Albania,4900,15.08,5.12,6760000000,18000,21.52,30000,77.24,1.49,1100000,2.04
4,Algeria,6600,17.13,4.60,23610000000,104000,31.00,500000,73.00,3.20,1447310,1.92
7,Angola,2100,44.64,25.90,1587000000,51429,191.19,41000,36.61,10.60,130000,6.27
11,Argentina,12400,16.90,7.56,81650000000,215471,15.18,4100000,75.91,1.30,6500000,2.19
...,...,...,...,...,...,...,...,...,...,...,...,...
254,Venezuela,5800,18.91,4.90,89300000000,96155,22.20,1274400,74.31,1.50,6463600,2.26
255,Vietnam,2700,17.07,6.20,32060000000,93300,25.95,3500000,70.61,2.50,2742000,1.94
261,Yemen,800,43.07,8.53,2827000000,67000,61.50,100000,61.75,7.80,411100,6.67
262,Zambia,900,41.38,20.23,5345000000,91440,88.29,68200,39.70,1.80,241000,5.47
263,Zimbabwe,1900,29.74,24.66,11220000000,18338,67.69,500000,36.67,4.30,379100,3.54

In [46]:
new_gdp = compare_gdp_clean['GDP - per capita'].astype('int')
new_gdp

1        800
3       4900
4       6600
7       2100
11     12400
       ...
254     5800
255     2700
261      800
262      900
263     1900
Name: GDP - per capita, Length: 163, dtype: int32

In [45]:
new_gdp.sort_values("GDP - per capita")

C:\Users\seren\AppData\Local\Temp\ipykernel_10712\3684745774.py:1: FutureWarning: In a future version of pandas all arguments of Series.sort_values will be keyword-only.
  new_gdp.sort_values("GDP - per capita")

ValueError: No axis named GDP - per capita for object type Series